<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'css/index.css' %}" >

{% block title %} Blog Index Page {% endblock title %}
{% block content %}

<div class="row" id="time">
	<div class="col col-md ">
		<div class="card" id="time-money">
			<h3 class="card-header">TIME IS MONEY</h3>
			<div class="card-body">
				<p > Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in oluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="btn btn-warning btn-md">LEARN MORE</button>
			</div>

		</div>

	</div>
	<div class="col col-md" id="imag" >
		<img src="{% static 'images/carts.jpg' %}" width="360px" height="360px" alt="Image is missing!" >
		</div>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" >
			<h3 class="card-header">TIME IS MONEY</h3>
			<div class="card-body text-justify" id="haha" >
				<p > Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in oluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="btn btn-warning btn-md">LEARN MORE</button>
			</div>

		</div>
    </div>
    <div class="col-sm">
      <div class="col col-md" >
		<img src="{% static 'images/carts.jpg' %}" width="360px" height="360px" alt="Image is missing!" >
		</div>
    </div>
    <div class="col-sm">
      <div class="card" >
			<h3 class="card-header">TIME IS MONEY</h3>
			<div class="card-body">
				<p > Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in oluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<button class="btn btn-warning btn-md">LEARN MORE</button>
			</div>

		</div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 offset-auto">
		<div class="col">
			<img src="{% static 'images/8.jpg' %}" width="360px" height="360px" alt="Image is missing!" >
		</div>
		<div class="col">
			<img src="{% static 'images/2.jpg' %}" width="360px" height="360px" alt="Image is missing!" >
		</div>
		<div class="col">
			<img src="{% static 'images/3.jpg' %}" width="360px" height="360px" alt="Image is missing!" >
		</div>
		<div class="col">
			<img src="{% static 'images/4.jpeg' %}" width="360px" height="360px" alt="Image is missing!" >
		</div>
	</div>
</div>

<br>
{% endblock %}